@font-face {
    font-family: 'Jura';
    src: url(./font/Jura-Regular.woff);
    src: url(./font/Jura-Regular.ttf)
}

@font-face {
    font-family: 'Robot';
    src: url(./font/Robot9000-MVxZx.woff);
    src: url(./font/Robot9000-MVxZx.ttf);
}

body{
    background-color: whitesmoke;
    margin: 0px;
}
