@font-face {
    font-family: Jura;
    src: url(./font/Jura-Regular.woff);
};

@font-face {
    font-family: Robot9000;
    src: url(./font/Robot9000-MVxZx.woff);
}


body{
    background-color: whitesmoke;

}
